<p id="notice"><%= notice %></p>

<p>
  <strong>Lugar:</strong>
  <%= @evento.lugar %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @evento.fecha %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @evento.contenido %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @evento.imagen %>
</p>

<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
